// _variables.scss

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css2?family=Inter&family=Ribeye+Marrow&display=swap';

//Typography
$art-header: 'Roboto Condensed', sans-serif;
$art-header-size: clamp(3.125rem, 2.0246478873239435rem + 3.5211267605633805vw, 6.25rem);

$landing-font: "Ribeye Marrow", serif;
$landing-font-size: clamp(5.625rem, 4.304577464788732rem + 4.225352112676056vw, 9.375rem);

$landing-subheader-size: clamp(1.875rem, 1.2147887323943662rem + 2.112676056338028vw, 3.75rem);
$max-width: 80%;

//mixins
@mixin breakpoint($size) {
    @if $size == small {
      @media only screen and (max-width: 600px) {
        @content;
      }
    }
  
    @if $size == medium {
      @media only screen and (min-width: 601px) and (max-width: 900px) {
        @content;
      }
    }
  
    @if $size == large {
      @media only screen and (min-width: 901px) {
        @content;
      }
    }
  }